@charset "utf-8";

////////   BASE TEXT SETTINGS    ////////     
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

// Line heights
$base-line-height: 1.5 !default;
$spacing-unit:     25px !default;

// Text colors
$text-color:       #dddddd !default;
$background-color: #34363a !default;

// Link colors
// $brand-color:      #5599f1 !default;
$brand-color:      #388BF5 !default;
$brand-visited-color: lighten(desaturate($brand-color, 40%), 5%);

// Standard grey colors
$grey-color:       #A1A1A1 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 40%) !default;

// Header Colors
$header-footer-line-color: $grey-color !default;
$header-text-color: lighten($text-color, 25%) !default;

$table-text-align: left !default;

////////   CONTENT WIDTH AND DYNAMIC WIDTH    ////////     
// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
